@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Marketing</h1>

<h1>This is the main page, where Son of Cod wants their marketing team to post information about the company.</h1>
<ul>
    <li>An anonymous user will see a static page with text, images and any other media you choose.</li>
    <li>An admin will be able to edit every piece of text on the page, with separate forms. They should not need to re-enter information for forms they do not want to edit.</li>
</ul>


<p>vvv list of products vvv</p>